/bin/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/debug_adapter-0.1.4.tar.gz
/debug_adapter-0.1.4.zip
/install-sh
/missing
/pack.pl
/prolog/Makefile
/prolog/Makefile.in
/test-driver
/test/Makefile
/test/Makefile.in
/test/server.plt
/prolog/swipl_debug_adapter
/test/server.log
/test/server.trs
/test/test-suite.log
/debug_adapter-*.tar.gz
/debug_adapter-*.zip
/configure~
